<button type="button" (click)="blink()">Click ME</button>

<button type="button" [disabled]="isDisabled" (click)="slashYou()">Click YOU</button>
<div class="a">
  <p>{{title}}</p>
  <p>{{message}}</p>
</div>


<div class="b">
  <p>{{message}}</p>
  <p>{{message2}}</p>
</div>

<app-cart></app-cart>